<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.EntityFramework"></provider>
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="YDVSEntities" connectionString="metadata=res://*/YDVS.YDVS.csdl|res://*/YDVS.YDVS.ssdl|res://*/YDVS.YDVS.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=123456;persistsecurityinfo=True;database=ydvs&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>